@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap');
body {
    background: url(../imgs/bg.png) no-repeat center;
    background-color: #d56ea3;
    background-size: contain;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    min-height: 100vh;
}

h1 a:link,
h1 a:visited{
    display: block;
    width: 50px;
    color: #000000bb;
    background-color: #fff;
    border-radius: 40px;
}
main {
    margin: 2rem auto;
    width: 32rem;
}
header h1 {
    background-color: #a62ef799;
    border-bottom: 6px solid #000000;
    border-radius: 40px;
    color: #fff;
    padding: 2rem;
    font-weight: 500;
    text-align: center;
}
nav {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}
nav li {
    list-style: none;
}
nav li a:link,
nav li a:visited {
    background-color: #a62ef799;
    border-radius: 40px;
    color: #fff;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    align-items: center;
    padding: 0.4rem;
    transition: all 0.2s ease-in;
}
nav li a span {
    background-color: #000000;
    border-radius: 40px;
    color: #fff;
    padding: 0.6rem;
    font-weight: 500;
    font-size: 1.4rem;
    font-style: normal;
    margin-right: 0.8rem;
    text-align: center;
    height: 2rem;
    width: 2rem;
    transition: all 0.2s 0.2s ease-in;
}
nav li a:hover {
    background-color: #a62ef7;
}
nav li a:hover i {
    color: #fff;
    transform: scale(1.25);
}